/**********
foundation
**********/
html {
  font-family: 'Times New Roman', Times, serif;
  color: #707070;
  overflow-x: none;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #AAA;
  border: none;
  border-radius: none;
  -webkit-box-shadow: inset 0 0 2px #777;
          box-shadow: inset 0 0 2px #777;
}

html::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  text-decoration: none;
  color: black;
}

iframe {
  background-color: rgba(0, 0, 0, 0);
}

.js-loading {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.js-loading--hide {
  top: -100vh !important;
}

.js-loading__image {
  position: absolute;
  height: 100px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  left: 48%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.js-loading__image--done {
  -webkit-animation-name: done;
          animation-name: done;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes done {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  50% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
  }
  100% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
}

@keyframes done {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  50% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
  }
  100% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
}

.js-fade-in {
  opacity: 0;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

.js-fade-in--up {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

.js-fade-in--left {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

.js-scroll-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.js-swiper__container {
  max-width: min(450px, 100vw - 100px);
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.js-swiper__wrapper {
  width: 450px;
  max-height: 250px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding: 5px;
}

.slick-next, .slick-prev {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 100%;
}

.slick-next {
  right: calc(100px - 25vw);
}

.slick-prev {
  left: calc(100px - 25vw);
}

.slick-next::before, .slick-prev::before {
  color: #707070;
  font-size: 80px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-next:hover::before, .slick-prev:hover::before {
  color: #0FBFB9;
}

.slick-prev::before {
  content: '\f104';
}

.slick-next::before {
  content: '\f105';
}

.slick-dots li button::before {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
}

.slick-dots li button::before:hover {
  -webkit-transition: scale(1.2);
  transition: scale(1.2);
}

.slick-dots li.slick-active button::before {
  color: white;
}

.modaal-container {
  background-color: transparent;
}

.modaal-wrapper {
  overflow: hidden;
}

.modaal-outer-wrapper {
  opacity: 1;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.modaal-iframe-elem {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.p-works-bg {
  position: fixed;
  width: 100%;
  height: calc(100vh + 32px);
  top: -32px;
}

/**********
layout
**********/
aside.p-menu {
  z-index: 100;
  position: fixed;
  top: 30%;
  right: 10px;
  width: auto;
}

aside.p-menu .p-menu__nav {
  width: auto;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 300px;
  right: 30px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
}

aside.p-menu .p-menu__nav .p-menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

aside.p-menu .p-menu__nav .p-menu__list .p-menu__listelm {
  text-align: center;
  margin-right: 0;
  margin-bottom: 20px;
}

aside.p-menu .p-menu__nav .p-menu__list .p-menu__listelm .p-menu__listlink {
  text-shadow: none;
  color: #707070;
}

aside.p-menu .p-menu__nav .p-menu__iconlist {
  border-top: solid 2px #C0C0C0;
}

aside.p-menu .p-menu__nav .p-menu__iconlist .c-text--shadow {
  text-shadow: none;
  color: #707070;
}

aside.p-menu .p-menu__nav .p-menu__iconlist .c-menu__iconlistelm {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  aside.p-menu {
    display: none;
  }
}

footer {
  width: 100%;
  height: 500px;
  background-image: url(./images/footer.png);
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 1024px) {
  footer {
    -webkit-transform: none;
            transform: none;
  }
}

footer .p-footer-container .c-sitelogo {
  position: absolute;
  bottom: 10px;
}

footer .p-footer-container .c-sitename {
  position: absolute;
  bottom: 10px;
  left: 75px;
}

@media screen and (max-width: 1024px) {
  footer .p-footer-container .c-sitename {
    color: white;
  }
}

footer .p-footer-container .p-menu__list {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: 1024px) {
  footer .p-footer-container .p-menu__list .p-menu__listelm .p-menu__listlink {
    color: white;
    font-size: 24px;
  }
}

footer .p-footer-container .p-menu__list .p-menu__listelm .p-menu__listlink::after {
  background-color: white;
}

footer:hover {
  -webkit-filter: sepia(0.5);
          filter: sepia(0.5);
}

#top {
  position: relative;
  margin: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./images/top.jpg");
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #top {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
}

.p-top--low {
  height: 300px !important;
  margin-bottom: 20px;
}

.p-top-bg {
  height: 100%;
  width: 100%;
  position: absolute;
}

#top-copy {
  color: white;
  height: 0px;
  font-size: 48px;
  position: absolute;
  left: 50px;
  bottom: 200px;
}

@media screen and (max-width: 1024px) {
  #top-copy {
    font-size: 24px;
  }
}

section {
  text-align: center;
  padding-bottom: 50px;
  overflow: hidden;
}

section:nth-child(2n) {
  background-color: #F8F8F8;
}

#prices p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.p-section-bg--skew {
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: 100%;
  left: 50%;
  -webkit-transform: skew(20deg) translate(-50%, 0);
          transform: skew(20deg) translate(-50%, 0);
  background-color: white;
  overflow: hidden;
}

.works-container {
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 40px);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.works-container h1 {
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.works-container p {
  text-align: left;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 24px;
  color: white;
}

.works-container .works-tag-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.works-container .works-tag-container a {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  line-height: 24px;
  background-color: #0FBFB9;
  color: white;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.works-container a:hover {
  color: #0FBFB9;
  background-color: white;
}

/**********
objcet-component
**********/
.wpcf7-form br {
  display: none;
}

.wpcf7-form .your-name::before, .wpcf7-form .your-email::before, .wpcf7-form .your-message::before {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 100;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.wpcf7-form .your-name::before {
  content: '\f007';
}

.wpcf7-form .your-email::before {
  content: '\f0e0';
}

.wpcf7-form .your-message::before {
  top: auto;
  bottom: 60px;
  content: '\f128';
}

input[type=text], input[type=email], textarea {
  position: relative;
  width: 100%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #707070;
  background-color: #F8F8F8;
  outline: none;
  padding-left: 50px;
  padding-right: 30px;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s 3600s;
  transition: 0.3s 3600s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

textarea {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden;
}

textarea:focus {
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Noto Sans JP", sans-serif;
  color: #C0C0C0;
}

input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Noto Sans JP", sans-serif;
  color: #C0C0C0;
}

input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Noto Sans JP", sans-serif;
  color: #C0C0C0;
}

input[type=text]::placeholder, input[type=email]::placeholder, textarea::placeholder {
  font-family: "Noto Sans JP", sans-serif;
  color: #C0C0C0;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border-bottom-color: #0FBFB9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type=submit] {
  width: 100px;
  height: 50px;
  margin-bottom: 50px;
  background-color: #0FBFB9;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type=submit]:hover {
  background-color: white;
  border: solid 1px #0FBFB9;
  color: #0FBFB9;
  cursor: pointer;
}

input[type=submit]:active {
  position: relative;
  top: 2px;
}

.wpcf7-not-valid-tip {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.wpcf7-response-output {
  margin-bottom: 50px !important;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #F8FFF8;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}

.c-width-restriction {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

@media screen and (max-width: 1024px) {
  .c-width-restriction {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.c-width-restriction--narrow {
  max-width: 600px;
}

.c-jpfont {
  font-family: "Noto Sans JP", sans-serif;
}

.c-jptext {
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.c-listelm {
  color: white;
  margin-right: 40px;
}

.c-sitelogo {
  width: auto;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-sitelogo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.c-sitename {
  margin-left: 10px;
  font-size: 24px;
  line-height: 40px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .c-sitename {
    color: #707070;
  }
}

.c-text--shadow {
  text-shadow: 1px 1px 3px #707070;
}

.c-me__photo {
  width: 240px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 100px;
  margin-right: 80px;
  border-radius: 40px;
}

@media screen and (max-width: 1024px) {
  .c-me__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.c-me__description {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.c-box--shadow {
  -webkit-box-shadow: 1px 1px 3px #707070;
          box-shadow: 1px 1px 3px #707070;
}

.c-menu__iconlistelm {
  margin-left: auto;
  margin-top: 40px;
  margin-right: 52px;
  text-align: right;
  width: 16px;
  height: 16px;
}

.c-iconlistelm {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-iconlistelm:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.c-twitter--color:hover {
  color: #00acee;
}

.c-instagram--color:hover {
  color: #cf2e92;
}

.c-section-name {
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #888;
}

.c-services__image {
  display: block;
  height: 140px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .c-services__description {
    text-align: center;
  }
}

.c-gallery__link {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.c-gallery__link:hover .c-gallery__title {
  opacity: 1;
}

.c-gallery__title {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, -1px -1px 1px #707070, -1px 1px 1px #707070, 1px -1px 1px #707070, 1px 1px 1px #707070, 0px 0px 5px black;
  opacity: 0;
  text-align: center;
  color: white;
  width: 90%;
  font-weight: bold;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1024px) {
  .c-gallery__title {
    opacity: 1;
    font-size: 24px;
  }
}

.c-gallery__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 280px;
  min-width: 280px;
  min-height: 180px;
  padding: 5px;
  -webkit-box-shadow: 0 0 3px #707070;
          box-shadow: 0 0 3px #707070;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .c-gallery__image {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .c-effect--brightness {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.c-effect--brightness:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-scale--zoom {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-scale--zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.c-effect--sepia {
  -webkit-filter: sepia(0.8) blur(1px) brightness(0.5);
          filter: sepia(0.8) blur(1px) brightness(0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .c-effect--sepia {
    -webkit-filter: sepia(0.8) brightness(0.5);
            filter: sepia(0.8) brightness(0.5);
  }
}

.c-effect--sepia:hover {
  -webkit-filter: sepia(0.5);
          filter: sepia(0.5);
}

.c-effect--gray {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-effect--gray:hover {
  -webkit-filter: none;
          filter: none;
}

.c-effect__underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.c-effect__underline::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.c-effect__underline:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.c-effect__underline--white::after {
  background: #FFF;
}

.c-effect__underline--black::after {
  background: #707070;
}

.c-effect__underline--blue::after {
  background: #0FBFB9;
}

.fa--side-text::after {
  display: none;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  color: #0FBFB9;
  right: 10px;
  width: 100px;
}

.fa--side-text:hover::after {
  display: inline-block;
  text-shadow: -1px -1px 5px white, -1px 0px 5px white, -1px 1px 5px white, 0px -1px 5px white, 0px 0px 5px white, 0px 1px 5px white, 1px -1px 5px white, 1px 0px 5px white, 1px 1px 5px white;
}

.fa-up--text::after {
  content: 'Top';
}

.fa-address-card--text::after {
  content: 'About me';
}

.fa-services--text::after {
  content: 'Services';
}

.fa-messages--text::after {
  content: 'Messages';
}

.fa-prices--text::after {
  content: 'Prices';
}

.fa-works--text::after {
  content: 'Works';
}

.fa-contact--text::after {
  content: 'Contact';
}

.c-btn--flat {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0FBFB9;
  border-radius: 10px;
  background-color: white;
  border: solid 1px #0FBFB9;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 20px;
  min-width: 150px;
  margin-top: 50px;
  display: inline-block;
}

.c-btn--flat span {
  position: relative;
  color: #0FBFB9;
}

.c-btn--flat:hover {
  background-color: #0FBFB9;
}

.c-btn--flat:hover span {
  color: white;
}

.c-btn--border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c-btn--border:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  border-radius: 0 50% 50% 0;
  background: #000;
}

.c-btn--border:hover:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  height: 30px;
  content: '\f061';
  -webkit-transform: translateX(460%) translateY(0.5rem);
  transform: translateX(460%) translateY(0.5rem);
  color: #fff;
  border-radius: 50%;
}

/**********
object-project
**********/
.p-menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .p-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #FFFFFFD0;
    height: 50px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 10px #707070;
            box-shadow: 1px 1px 10px #707070;
  }
}

.c-nav--toggle:checked ~ .p-bars {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-nav--toggle:checked ~ .p-bars .c-bars__bar1 {
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #0FBFB9;
}

.c-nav--toggle:checked ~ .p-bars .c-bars__bar2 {
  opacity: 0;
  border-color: #0FBFB9;
}

.c-nav--toggle:checked ~ .p-bars .c-bars__bar3 {
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: #0FBFB9;
}

.p-bars {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-bars .c-bars__bar1, .p-bars .c-bars__bar2, .p-bars .c-bars__bar3 {
  height: 0;
  width: 30px;
  border-bottom: solid 2px black;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-bars .c-bars__bar1 {
  top: 15px;
  left: 10px;
}

.p-bars .c-bars__bar2 {
  top: 25px;
  left: 10px;
}

.p-bars .c-bars__bar3 {
  top: 35px;
  left: 10px;
}

@media screen and (max-width: 1024px) {
  .p-bars {
    display: block;
  }
}

.p-menu__nav {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .p-menu__nav {
    position: fixed;
    z-index: 1;
    background-color: #FFFFFFD0;
    width: 300px;
    height: 100vh;
    top: 50px;
    right: -300px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.c-nav--toggle {
  position: absolute;
  z-index: 1001;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .c-nav--toggle {
    display: block;
    opacity: 0;
  }
}

.c-nav--toggle:checked ~ .p-menu__nav {
  right: 0;
}

.fa-nav.fas {
  display: none;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;
  font-size: 32px;
}

@media screen and (max-width: 1024px) {
  .fa-nav.fas {
    display: block;
  }
}

.p-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .p-menu__list {
    text-align: center;
    margin-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-menu__listelm {
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .p-menu__listelm {
    margin-top: 40px;
    margin-right: 0;
  }
}

.p-menu__listlink {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .p-menu__listlink {
    color: #707070;
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .p-menu__listlink::after {
    background-color: #0FBFB9;
  }
}

.p-menu__iconlist {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .c-menu__iconlistelm {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
}

.p-about-container h3 {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  border-left: solid 3px #707070;
  padding-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .p-about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-services-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .p-services-container {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-services-wrapper {
  position: relative;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .p-services-wrapper {
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-message-container {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

.p-message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.p-message-wrapper img {
  width: 60%;
  margin: 0;
  outline: none;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
}

.parallax-slider {
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .p-message-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
  .p-message-wrapper img {
    z-index: 1;
    position: absolute;
    width: 100%;
  }
  .p-message-text {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.p-message-wrapper:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-message-text {
  z-index: 10;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.p-message-text h3 {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.p-message-text p {
  text-align: left;
  max-width: max(300px, 30vw);
  line-height: 28px;
}

.p-price-container {
  width: 100%;
  color: #707070;
}

.p-price-wrapper {
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #D0F0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-price-wrapper .c-price-icon {
  width: 60px;
  font-size: 24px;
  margin-left: 20px;
}

.p-price-wrapper .c-price-item {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
}

.p-price-wrapper .c-price-cost {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 30px;
}

.p-price-wrapper .fa-mobile-alt {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .p-price-wrapper .c-price-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  .p-price-wrapper .c-price-cost {
    font-size: 20px;
    margin-right: 10px;
  }
}

.p-price-wrapper:hover {
  background-color: #E0E0E080;
}

.p-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .p-gallery-container {
    width: auto;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-gallery-wrapper {
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1024px) {
  .p-gallery-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.p-gallery-wrapper:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1000;
}

.p-gallery-wrapper:hover .c-gallery__link .c-gallery__title {
  opacity: 1;
}

/**********
object-utility
**********/
/*# sourceMappingURL=style.css.map */